<footer class="nf-footer">
	<div class="nf-footer__container">
		<div class="nf-footer__brand">
			<img
				class="nf-footer__logo"
				data-lfr-editable-id="footer-logo"
				data-lfr-editable-type="image"
				src="[resources:nttv-logo.png]"
				alt="NTTv"
			/>

			<p
				class="nf-footer__description"
				data-lfr-editable-id="description"
				data-lfr-editable-type="text"
			>
				Tu plataforma de pel&iacute;culas y series.
			</p>
		</div>

		<nav class="nf-footer__navigation" aria-label="Navegaci&oacute;n del pie de p&aacute;gina">
			<ul class="nf-footer__links">
				<li>
					<a
						data-lfr-editable-id="link-home"
						data-lfr-editable-type="link"
						href="#"
					>
						Inicio
					</a>
				</li>

				<li>
					<a
						data-lfr-editable-id="link-series"
						data-lfr-editable-type="link"
						href="#"
					>
						Series
					</a>
				</li>

				<li>
					<a
						data-lfr-editable-id="link-movies"
						data-lfr-editable-type="link"
						href="#"
					>
						Pel&iacute;culas
					</a>
				</li>

				<li>
					<a
						data-lfr-editable-id="link-my-list"
						data-lfr-editable-type="link"
						href="#"
					>
						Mi lista
					</a>
				</li>
			</ul>

			<ul class="nf-footer__links">
				<li>
					<a
						data-lfr-editable-id="link-help"
						data-lfr-editable-type="link"
						href="#"
					>
						Ayuda
					</a>
				</li>

				<li>
					<a
						data-lfr-editable-id="link-privacy"
						data-lfr-editable-type="link"
						href="#"
					>
						Privacidad
					</a>
				</li>

				<li>
					<a
						data-lfr-editable-id="link-terms"
						data-lfr-editable-type="link"
						href="#"
					>
						T&eacute;rminos de uso
					</a>
				</li>
			</ul>
		</nav>

		<div class="nf-footer__bottom">
			<p
				data-lfr-editable-id="copyright"
				data-lfr-editable-type="text"
			>
				&copy; 2026 NTTv
			</p>
		</div>
	</div>
</footer>
